@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background : #000018;
  font-family: 'Josefin Sans', sans-serif;
 
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Arial', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color : #FFFFFF;
}

.Boxes{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.Boxes .box{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #OOOOOO;  
  position: relative;
  border-radius : 40px;
}

.Boxes .box h3{
  color: #OOOOOO;
  font-size: 26px;
  margin-top: 50px;
}

.Boxes .box p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.Boxes .box .
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #OOO;
}

.Boxes .box .
  width: 100px;
  height: 100px;
  padding: 5px;
}
